.container {
  max-width: 1366px;
  margin: 0 auto;
}

.wrapper-logo {
  display: flex;
  align-items: center;
  gap: 12px;

  max-width: 172px;
  height: auto;

  margin-top: 76px;

  & img {
    height: 38px;
  }

  & span {
    color: var(--content-primary);
    font: 800 24px/130% var(--ff-sora);
  }
}
