.container {
  padding: 4.75rem 2.1875rem 9.5625rem 2.1875rem;
  max-width: 73rem;
  margin: auto;
}
.logo {
  display: flex;
  justify-content: center;
  gap: 0.6875rem;

  width: 10.75rem;
  height: 2.375rem;

  & span {
    display: flex;
    align-items: center;

    color: var(--content-primary);
    font: bold 1.5rem/130% var(--ff-sora);
  }
}
