* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  color: red;
}

:root {
  /* content */
  --content-primary: #ffffff;
  --content-secondary: #c7c9cc;
  --content-tertiary: #d9d9d9;
  --content-brand: #c58ed7;
  --color-inverse: #030203;

  /* background */
  --background-primary: #020202;
  --background-secondary: #111012;
  --background-tertiary: #24222e;
  --background-brand: #c58de7;
  --background-gray: #3d3d3d;

  /* accent */
  --accent-pink: #d586e0;
  --accent-blue: #91a1fa;
  --accent-green: #77c0af;
  --accent-lime: #d1dc97;
  --accent-red: #e9a9b3;

  /* gradient */
  --linear-gradient-border: linear-gradient(
    91.26deg,
    #77c0af 0%,
    #d1dc97 14.84%,
    #e9a9b3 32.15%,
    #d586e0 65.79%,
    #91a1fa 84.58%
  );
  --linear-gradient-background: linear-gradient(
    91.26deg,
    #d586e0 0%,
    #91a1fa 98.93%
  );
  --linear-gradient-content: linear-gradient(90deg, #c7c9cc 0%, #3d3d3d 100%);

  /* ff-sora */
  --ff-sora: "Sora", sans-serif;
  --display-large: 800 4.5rem/150% var(--ff-sora);
  --display-medium: 800 2.5rem/130% var(--ff-sora);
  --display-small: 700 2.25rem/130% var(--ff-sora);

  /* ff-roboto-flex */
  --ff-robflex: "Roboto Flex", serif;
  --paragraph-large: 500 1rem/150% var(--ff-robflex);
  --paragraph-medium: 500 0.875rem/150% var(--ff-robflex);
  --paragraph-small: 500 0.75rem/150% var(--ff-robflex);
  --label-medium: 700 1.25rem/150% var(--ff-robflex);
  --label-small: 700 1rem/150% var(--ff-robflex);
}
body {
  height: 100vh;
  background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.9) 22.66%,
      rgba(0, 0, 0, 0.54) 100%
    ),
    var(--background-primary) url(/assets/bg.png) bottom left/100% no-repeat;
}
