main {
  max-width: 68.625rem;
  margin-top: 5.5625rem;
  padding: 1rem;

  display: grid;
  grid-template-columns: 1fr 1fr;

  & h1 {
    margin-top: 0.75rem;

    grid-column: 1;
    font: var(--display-large);
    color: var(--content-primary);
  }
}

.wrapper-questions {
  display: flex;
  flex-direction: column;

  gap: 2.25rem;
  margin-top: 2.375rem;
}

.sort {
  margin-top: 3.125rem;

  & span {
    color: var(--content-brand);
    font: var(--label-medium);
  }

  & p {
    color: var(--content-secondary);
    font: var(--paragraph-medium);
    margin-top: 0.75rem;
  }
}

.wrapper-question {
  display: flex;
  gap: 0.75rem;
}

.text-question {
  display: flex;
  flex-wrap: wrap;
  max-width: 24.125rem;

  & h4 {
    color: var(--content-brand);
    font: var(--paragraph-medium);
  }

  & p {
    color: var(--content-secondary);
    font: var(--paragraph-small);
  }
}

.overline {
  font: bold 1rem/150% "Roboto Mono";
  color: var(--content-primary);

  background-color: var(--content-primary); /* Fallback */
  background: var(--linear-gradient-content);

  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}
