main {
  margin-top: 5.5625rem;
  padding: 1rem;

  display: grid;
  grid-template-columns: 1fr;

  & h1 {
    margin-top: 0.75rem;
    margin-bottom: 1.875rem;

    font: var(--display-large);
    color: var(--content-primary);
  }
}

header {
  grid-column: 1;
}

/* duvidas */
.wrapper-questions {
  display: flex;
  flex-direction: column;

  gap: 2.25rem;
}

.wrapper-question {
  display: flex;
  gap: 0.5rem;
}

.text-question {
  max-width: 24.125rem;

  & h4 {
    color: var(--content-brand);
    font: var(--paragraph-medium);
  }

  & p {
    color: var(--content-secondary);
    font: var(--paragraph-small);
  }
}

.overline {
  grid-column: 1;
  grid-row: 1;

  display: inline;
  font: bold 1rem/150% "Roboto Mono";
  color: var(--content-primary);

  background-color: var(--content-primary); /* Fallback */
  background: var(--linear-gradient-content);

  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

.sorteio {
  margin-top: 3.125rem;

  grid-column: 2;
  grid-row: 1 / end;

  & span {
    color: var(--content-brand);
    font: var(--label-medium);
  }

  & p {
    color: var(--content-secondary);
    font: var(--paragraph-medium);
    margin-top: 0.75rem;
  }
}
